@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Coda&display=swap');



h1 {
  font-family: 'Amethysta', serif;
}

body {
  font-family: 'Coda', sans-serif;
  margin: 0;
  
}

.scroll-snap{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.snap {
  scroll-snap-align: start;
}

nav {
  position: fixed;

}