@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Coda&display=swap');

/* all styles */

h1, h2 {
  font-family: 'Amethysta', serif;
}

body {
  font-family: 'Coda', sans-serif;
  margin: 0;
}

.App{
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100%;
}

.snap {
  scroll-snap-align: start;
}

nav {
  position: fixed;
}

/* about me */

.Home{
  height: 100vh;
  color: #45818e;
  display: flex;
  align-items: center;
}

.links {
  width: 30%;
  padding-right: 2em;;
  line-height: 3
}

.links a {
  color: black;
  text-decoration: none;
}

.links a:hover{
  cursor: pointer;
  color: #45818e;
}

.name{
  line-height: .75;
  text-align: center;
  border: 5px solid black;
  width: 20em;
}

.about-me{
  width: 30%;
  padding-left:2em;
  line-height: 1.75;
  color: black;
}

/* .name{
  line-height: .25;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 35%;
} */

.links{
  display: flex;
  flex-direction: column;
  text-align: right;
}
/* projects */

.Projects{
  height: 100vh;
  background: #45818e;
}

.Projects h2{
  text-align: center;
  padding: 10px;
}

.project{
  background-color: #eee;
  width: 30%;
  height: 75vh;
  /* flex on the text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.project h2{
  background: #45818e;
  padding: 5px;
  color: #eee;
  margin: 0;
}

.proj-styles{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 20%;
}

.project1 {
  background-image: url('https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBsYW50c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  background-repeat: no-repeat;
}

.project2 {
  background-image: url('https://images.unsplash.com/photo-1596704017254-9b121068fb31?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWFrZSUyMHVwfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  background-repeat: no-repeat;
}

.project3 {
  background-image: url('https://images.unsplash.com/photo-1612855190135-bdbacda2a2b5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YnViYmxlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  background-repeat: no-repeat;
}

/* contact */

.Contact{
  background: #76a5af;
  height: 100vh;
}

.Contact h2{
  text-align: center;
  padding: 20px;
  margin: 0;
}

form{
  background: #eee;
  border: 5px solid black;
  margin: auto;
  width: 25%;
  position: relative;
  top: 6em;
  padding: 30px;
}

input, textarea{
  display: block;
  background: none;
  outline: none;
  margin: 20px auto;
  width: 80%;
  font-family: 'Coda', sans-serif;
  border: 0;
  border-bottom: 3px solid #45818e;
}

input{
  height: 2em;
}

button{
  display: block;
  margin: auto;
  font-family: inherit;
  padding: 5px;
  background-color: #eee;
  border: none;
}

button:hover{
  background-color: #76a5af;
  color: #eee;
}


/* media queries */

@media only screen and (max-width: 600px){
  
  nav{
    width: 100%;
    z-index: 100;
  }
  
  nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }

  ul li {
    list-style: none;
    
  }

  .Home {
    flex-direction: column;
    position: relative;
    top: 8em;
  }

  .links{
    display: inline-block;
    padding-right: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
  }

  .about-me{
    width: 95%;
    text-align: center;
    padding-left: 0;
    margin-top: 1em;
  }

  .proj-styles{
    display: flex;
    flex-direction: column;
  }

  .project{
    width: 90%;
    height: 25vh;
  }

  form{
    width: 65%;
  }
}